<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content="HTML Tidy for HTML5 (experimental) for Mac OS X https://github.com/w3c/tidy-html5/tree/c63cc39">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Lorem Ipsum Lorem Ipsum Lorem Ipsum</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag 'jquery', 'site' %>
  <% #<link href="/assets/screen.css" media="screen" rel="stylesheet" type="text/css"> %>
  <% #<script src="/assets/jquery.js" type="text/javascript"></script> %>
  <% #<script src="/assets/site.js" type="text/javascript"></script> %>
</head>

<body>
  <div id="container">
    <header>
      <div class="logo">
        <p><img <%= editable('main_logo') %> src="<%= cms_img('main_logo') {'/assets/logo_mytechhelp.png'} %>" alt="logo_mytechhelp"></p>
        <p <%= editable('brand_tag_line', 'logoTagline') %>><%= cms_box('brand_tag_line') { 'FOR BRAND NAME GOES HERE' } %></p>
      </div>

      <div class="phoneHeader">
        <p <%= editable('message-1') %>><%= cms_box('message-1'){ 'For Instant Android Support Call Now' } %></p>
        <p><strong>(888)-000-0000</strong></p>
      </div>
    </header>

    <h1 <%= editable('tagline', 'tagline') %>><%= cms_box('tagline') { 'Lorem Ipsum Dolor Sit Amet' } %></h1>

    <div class="banner">
      <div class="bannerText">
        <p><strong>Call&nbsp;(888)-000-0000</strong><br>
        For Instant Android Tech Support!</p>
      </div>

      <div class="bannerImage"><img alt="banner" height="404" src="/assets/banner.png" width="893"></div>

      <div class="test-default-page"></div>
    </div>

    <div class="boxWrapper">
      <div class="box box1">
        <h2 <%= editable('col1header') %>><%= cms_box('col1header') { 'Josh Col1 Header' } %></h2>

        <ul>
          <% cms_loop('chat_list') do |x| %>
            <li <%= edit_loop('chat_list') %>>
              <img alt="icon" height="47" src="/assets/icon.png" width="47">
              <p <%= editable('chat_brand') %>><%= cms_box('chat_brand', x){ 'HTC' } %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="box box3">
        <h2 <%= editable('box2header') %>><%= cms_box('box2header'){ 'Box 2 Header' } %></h2>

        <ul>
          <% cms_loop('list_one') do |x| %>
            <li <%= edit_loop('list_one', 'super_edit textlist') %>>
              <%= cms_box('list_one', x) { 'JOSH JOSH' } %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="box box2">
        <h2 <%= editable("col3header") %>><%= cms_box('col3header'){ 'Box 2 Header' } %></h2>

        <ul>
          <% cms_loop('list_two') do |x| %>
            <li <%= edit_loop('list_two', 'super_edit textlist') %>>
              <%= cms_box('list_two', x) { 'Josh2 Josh2' } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footerPhone">
        <p>Call Now</p>
        <p><strong>(888)-000-0000</strong></p>
      </div>

      <div class="disclaimer">
        <p>MyTechHelp.com, LLC is an independent third party website and support service and is not affiliated with any advertised brand. All logos are registered trademarks of their respective corporation.</p>

        <p><a href="http://www.mytechhelp.com/privacy-policy.aspx#axzz2E0VCwiu0" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;<a href="http://www.mytechhelp.com/terms-conditions.aspx#axzz2E0VCwiu0" target="_blank">Terms and Conditions</a></p>
      </div>

      <div class="flags">
        <p><img src="/assets/flag_usa.png" alt="flag_usa"><img src="/assets/flag_canada.png" alt="flag_canada"><img src="/assets/flag_uk.png" alt="flag_uk"></p>
      </div>
    </footer>
  </div><script type="text/javascript">
//<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21807098-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  //]]>
  </script>
  <% unless action_name.to_s == 'show' %>
    <%= javascript_include_tag 'superedit' %>
    <%= stylesheet_link_tag 'superedit' %>
    <% #<script src="/assets/superedit.js" type="text/javascript"></script> %>
    <% #<link type="text/css" rel="stylesheet" href="/assets/superedit.css" /> %>
  <% end %>
</body>
</html>
